*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #2e2d2d;
    color: whitesmoke;
    padding: 6px;
    border-radius: 5px;
    font-size: 10px;
    width: 150px;
}
h2 {
    text-align: start;
    margin-top: 4px;
    margin-bottom: 4px;
}

#cart-items{
    margin-bottom: 4px;
}

#cart-total{
    text-align: end;
}

#checkout-btn{
    background-color: rgb(107, 11, 209);
    color: white;
    border: none;
    padding: 3px;
    font-size: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 4px;
    margin-top: 2px;
}

#checkout-btn:hover{
    background-color: rgb(79, 0, 128);
}

.hidden{
    display: none;
}


